site_name: zyx
site_url: https://zyx.hammad.app

repo_url: https://github.com/hsaeed3/zyx

theme:
  name: material

  icon:
    logo: material/emoticon-happy

  favicon: fonts/icon.svg

  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.sections
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - navigation.path
    - toc.follow
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - header.autohide
    - navigation.footer
    - content.code.copy
    - content.code.select
    - content.code.annotate
    - content.code.line-numbers
    - content.tooltips

  palette:
    scheme: home-dark
    primary: blue
    accent: light blue

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/hsaeed3/zyx
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/hsaeed3/
    - icon: fontawesome/brands/spotify
      link: https://open.spotify.com/user/hxmmad

plugins:
  - mkdocstrings
  - search
  - tags
  - mkdocs-jupyter:
      highlight_extra_classes: "CodeMirror"
      ignore_h1_titles: true
      include_source: true
      show_input: true
      execute: false
      include_buttons: true

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details

extra_css:
  - stylesheets/extras.css