[build-system]
requires = ["hatchling", "uv-dynamic-versioning>=0.7.0"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.hatch.build.targets.wheel]
packages = ["zyx"]

[tool.uv-dynamic-versioning]
vcs = "git"
style = "pep440"
bump = true

[project]
name = "zyx"
dynamic = ["version"]
description = "ZYX"
authors = [{name = "Hammad Saeed", email = "hvmmad@gmail.com"}]
readme = "readme.md"
license = {file = "LICENSE"}
requires-python = ">=3.11"
dependencies = [
    "instructor>=1.14.4",
    "typing-inspect>=0.9.0",
]

[project.optional-dependencies]
google-genai = ["google-genai>=1.5.0","jsonref<2.0.0,>=1.1.0"]
anthropic = ["anthropic==0.71.0", "xmltodict>=0.13,<1.1"]
groq = ["groq>=0.4.2,<0.34.0"]
cohere = ["cohere<6.0.0,>=5.1.8"]
vertexai = ["google-cloud-aiplatform<2.0.0,>=1.53.0", "jsonref<2.0.0,>=1.1.0"]
cerebras_cloud_sdk = ["cerebras-cloud-sdk<2.0.0,>=1.5.0"]
fireworks-ai = ["fireworks-ai<1.0.0,>=0.15.4"]
writer = ["writer-sdk<3.0.0,>=2.2.0"]
bedrock = ["boto3<2.0.0,>=1.34.0"]
mistral = ["mistralai<2.0.0,>=1.5.1"]
perplexity = ["openai>=2.0.0,<3.0.0"]
litellm = ["litellm<2.0.0,>=1.35.31"]
xai = ["xai-sdk>=0.2.0 ; python_version >= '3.10'", "python-dotenv>=1.0.0"]

[dependency-groups]
dev = [
    "logfire",
    "black",
    # SORT!
    "isort",
    "ruff",
    "uv",
    "pytest",
    "pytest-asyncio",
    "twine>=6.1.0",
    # type checking!
    # another banger from astral.sh
    "ty",

    # all examples use marimo in favor of jupyter because marimo
    # is very good :)
    "marimo",

    # docs (zensical is a project by the mkdocs-material team, that
    # aims to be the successor to mkdocs-material and mkdocs itself)
    "zensical",
]


[tool.ruff]
line-length = 75
