[build-system]
requires = ["hatchling", "uv-dynamic-versioning>=0.7.0"]
build-backend = "hatchling.build"

[tool.hatch.version]
source = "uv-dynamic-versioning"

[tool.hatch.build.targets.wheel]
packages = ["zyx"]

[tool.uv-dynamic-versioning]
vcs = "git"
style = "pep440"
bump = true

[project]
name = "zyx"
dynamic = ["version"]
description = "ZYX"
authors = [{name = "Hammad Saeed", email = "hvmmad@gmail.com"}]
readme = "README.md"
license = {file = "LICENSE"}
requires-python = ">=3.11"
dependencies = [
    "chonkie>=1.4.0",
    "instructor>=1.11.3",
    "markitdown>=0.1.3",
    "sqlite-vec>=0.1.6",
    "typer-slim>=0.20.0",
]

[project.optional-dependencies]
anthropic = ["anthropic"]
litellm = ["litellm"]
mcp = ["mcp"]

[dependency-groups]
dev = [
    "logfire",
    "ruff",
    "uv",
    "pytest",
    "pytest-asyncio", 
    "twine>=6.1.0",

    # all examples use marimo in favor of jupyter because marimo
    # is very good :)
    "marimo",

    # docs
    "mkdocs-material",
    "mkdocs-material-extensions",
    "mkdocstrings[python]",
]
