[project]
name = "zyx"
version = "1.1.0"
description = "A hyper-fast, fun, quality-of-life focused & genuinely useful LLM toolkit. Inspired by Marvin-AI. Built on LiteLLM, Instructor & ChromaDB"
readme = "readme.md"
authors = [{ name = "Hammad Saeed", email = "hvmmad@gmail.com" }]
requires-python = ">=3.9"
dependencies = [
    "instructor>=1.6.3",
    "jsonpatch>=1.33",
    "litellm>=1.50.2",
    "pypdf2>=3.0.1",
    "rich>=13.9.3",
    "semchunk>=2.2.0",
]

[project.scripts]
zyx = "zyx._cli:app"

[project.optional-dependencies]
all = ["chromadb>=0.5.15"]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.uv]
dev-dependencies = [
    "ipykernel>=6.29.5",
    "ipywidgets>=8.1.5",
    "mkdocs-material>=9.5.42",
    "mkdocs-material-extensions>=1.3.1",
    "mkdocstrings[python]>=0.26.2",
    "ruff>=0.7.1",
    "uv>=0.4.26",
    "mkdocs-jupyter>=0.25.1",
    "pdoc>=15.0.0",
]
